---
const { sector } = Astro.props;
---

<swiper-slide
	class="flex flex-col text-center cursor-pointer rounded-b-lg bg-blanco"
>
	<a href={`/sector/${sector.nombre.replace(/\s+/g, "")}`}>
		<div
			class="bg-white shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300"
		>
			<img
				src={`https://picsum.photos/seed/${sector.nombre}/400/200`}
				alt={sector.nombre}
				class="w-full h-10 object-cover"
			/>
			<div class="p-1">
				<h2 class="text-base font-semibold text-orange-600 mb-2">
					{sector.nombre}
				</h2>
				<p class="text-gray-600 mb-4">{sector.municipio}, {sector.parroquia}</p>
			</div>
		</div>
	</a>
</swiper-slide>
